/ {
  behaviors {
    caps_or_down: behavior_mod_morph {
      compatible = "zmk,behavior-mod-morph";
      bindings = <&kp DOWN>, <&kp CAPS_LOCK>;
      mods = <MOD_LSFT>;
    };
    td_ctrl_alt_gui: behavior_tap_dance {
      compatible = "zmk,behavior-tap-dance";
      bindings = <&kp LCTRL>, <&kp LALT>, <&kp LGUI>;
      tapping-term-ms = <250>;
    };
  };
};
